table,
th,
td {
    border: 1px solid;
    padding: 20px
}

.admin-page {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}

button {
    background-color: red;
    color: white;
    padding: 10px;
    font-weight: bolder;
}