<div class='home-page'>
  <div class='home-content'>
    <input [(ngModel)]='taskForm.title' type='text' placeholder='Title'>
    <input style="width: 400px" [(ngModel)]='taskForm.content' placeholder='Description'>
    <input [(ngModel)]='taskForm.date' type='date'>
    <button (click)="createTask()">Add</button>
    <div class="tasks" *ngFor="let task of tasks; index as i">
      <div style="font-size: 28px;">{{task.title}}</div>
      <div style="font-size: 18px;">{{task.content}}</div>
      <div style="font-size: 20px;">{{task.date}}</div>
      <button (click)="deleteTask(task.id)">Delete</button>
    </div>



</div>
